@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-size: 12px;
  overflow-x: hidden;
}

body {
  color: #222222;
  background-color: #fff;
}

.padding_inside{
  padding: 0 3rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.from-left{
  animation: moveInLeft 2s ease-in-out;
}
.from-right{
  animation: moveInRight 2s ease-in-out;
}
h3{
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}